option_settings:
  aws:elasticbeanstalk:application:environment:
    METHOD: 'http'
    IP_ADDRESS: 'paweld16testowy.us-east-1.elasticbeanstalk.com'
    FRONTEND_PORT: '3000'
    BACKEND_PORT: '8080'
    REACT_APP_IP_ADDRESS: 'paweld16testowy.us-east-1.elasticbeanstalk.com'
    REACT_APP_METHOD: 'http'
    REACT_APP_FRONTEND_PORT: '3000'
    REACT_APP_BACKEND_PORT: '8080'
